<launch>
    <!-- Include the UR Gazebo bringup launch file -->
    <include file="$(find ur_gazebo)/launch/ur5_bringup.launch">
        <arg name="gui" value="true" />
        <arg name="paused" value="false" />
    </include>

    <node pkg="serve_humanity" 
          type="sine_wave_joint_publisher.py" 
          name="sine_wave_joint_publisher" 
          output="screen">
    </node>
</launch>

